/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@font-face {
  font-family: '微软雅黑';
  font-weight: 300;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Huxiaobo", Arial;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-text-size-adjust: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.drawer-bg {
  background: #f0f0f0;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -moz-opacity: 0.1;
  -khtml-opacity: 0.1;
  -webkit-opacity: 0.1;
  opacity: 0.1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=10);
  filter: alpha(opacity=10);
  z-index: 1;
}
.drawer-container {
  position: fixed;
  bottom: -4px;
  z-index: 2;
  background: #ffffff;
  width: 640px;
}
.drawer-container .drawer-header {
  width: 100%;
  padding: 20px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  *zoom: 1;
    border-bottom: solid 1px #f3f3f3;
}
.drawer-container .drawer-header:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.drawer-container .drawer-header .close {
  background: url("../../assets/images/detail/cnv.svg") no-repeat;
  display: inline-block;
  width: 21px;
  height: 23px;
  float: right;
  margin-right: 20px;
}
.drawer-container .drawer-header .drawer-title {
  width: 100%;
  display: inline-block;
  font-size: 32px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: 400;
}
.drawer-container .drawer-item {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 120px;
  border-top: 1px solid #f2f2f2;
}
.drawer-container .drawer-item .drawer-item-left {
  float: left;
  padding: 35px 15px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.drawer-container .drawer-item .drawer-item-left .drawer-item-check {
  display: inline-block;
  background: url("../../assets/images/address/check-circle.svg") no-repeat;
  width: 27px;
  height: 27px;
}
.drawer-container .drawer-item .drawer-item-content {
  float: left;
  width: 500px;
  padding: 0 30px;
  box-sizing: border-box;
}
.drawer-container .drawer-item .drawer-item-content h3 {
  font-size: 28px;
  font-weight: 400;
}
.drawer-container .drawer-item .drawer-item-content p {
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  font-size: 20px;
  color: #666666;
}
.drawer-container .drawer-item .drawer-item-right {
  float: left;
  padding: 25px 25px;
  padding-right: 0;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.drawer-container .drawer-item .drawer-item-right .drawer-item-edit {
  display: inline-block;
  background: url("../../assets/images/address/edit.svg") no-repeat;
  width: 30px;
  height: 30px;
}
.drawer-container .drawer-action {
  height: 120px;
  border-top: solid 1px #f3f3f3;
  padding: 20px;
  padding-top: 40px;
  display: inline-block;
  width: 100%;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background:#CEA7A6;
}
.drawer-container .drawer-action .drawer-button {
  *zoom: 1;
  width: 600px;
  background: url("../../assets/images/address/arrow-right.svg") no-repeat 560px 5px;
}
.drawer-container .drawer-action .drawer-button:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.drawer-container .drawer-action .drawer-button i {
  height: 40px;
  width: 40px;
  display: inline-block;
  float: left;
}
.drawer-container .drawer-action .drawer-button i.icon-add {
  background: url("../../assets/images/delivery/add_address.svg") no-repeat;
}
.drawer-container .drawer-action .drawer-button span {
  display: inline-block;
  margin-left: 15px;
  float: left;
  line-height: 40px;
  font-size: 28px;
  color: white;
}
.drawer-container .drawer-form {
  margin-bottom: 30px;
}
.drawer-container .drawer-form .region-city {
  float: left;
}
.drawer-container .drawer-form .drawer-form-group {
  display: inline-block;
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
  padding: 0 45px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 85px;
  padding-top: 10px;
}
.drawer-container .drawer-form .drawer-form-group label {
  float: left;
  line-height: 64px;
  font-size: 24px;
  width: 155px;
  margin-right: 10px;
}
.drawer-container .drawer-form .drawer-form-group input {
  line-height: 64px;
  height: 64px;
  font-size: 24px;
  width: 380px;
  border: none;
  background: none;
}
.drawer-container .drawer-form .drawer-form-group .pull-left {
  margin-top: 7px;
  float: left;
}
.drawer-container .drawer-form .drawer-form-group .alert-danger div {
  color: #CEA7A6;
  font-size: 18px;
  margin-left: 165px;
  margin-top: -20px;
}
.drawer-container .drawer-buttons {
  width: 100%;
}
.drawer-container .drawer-buttons .button {
  font-size: 28px;
  display: inline-block;
  line-height: 90px;
  text-align: center;
  width: 100%;
  color: #000000;
  border-top: 1px solid #f2f2f2;
}
.drawer-container .drawer-buttons .button.button-add {
  border: none;
  background: #CEA7A6;
  color: #ffffff;
}
.alertMain {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}
.alertBor {
  margin: 0 auto;
  margin-top: 35vh;
  background: white;
  width: 65%;
  min-width: 65%;
  border-radius: 30px;
  overflow: hidden;
}
.alertText {
  padding: 40px;
  padding-bottom: 0;
  font-size: 22px;
  text-align: center;
}
.alertBut {
  margin-top: 30px;
  background: #CEA7A6;
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  color: white;
  font-size: 22px;
}
.more {
  background: url("../../assets/images/detail/selectaddresswhite.png") no-repeat;
  display: inline-block;
  width: 23px;
  height: 30px;
  float: right;
  margin:8px 14px 0 0;
}
.drawer-overflow{
  max-height: 500px;
  overflow-y: scroll;
}