<div class="drawer-bg"></div>
<div class="drawer-container" *ngIf="!isAddAddress && !isEditAddress">
  <div class="drawer-header">
    <a class="close" (click)="closeWindow()"></a>
    <div class="drawer-title">
      选择收货地址
    </div>
  </div>
  <div class="drawer-body">
    <div class="drawer-overflow"> 
        <div class="drawer-item" *ngFor="let address of addresses" (click)="choose(address)">
         <div class="drawer-item-left">
            <a class="drawer-item-check"></a>
          </div>
          <div class="drawer-item-content">
           <h3 style="float: left;width: 250px;" class="textOverflowOne">{{address.name}}</h3>
            <h3 style="float: right">{{address.mobile}}</h3>
            <div>
              <p style="margin-top: 45px">{{address.region_string}} </p>
              <p>{{address.address}}</p>
            </div>
          </div>
          <div class="drawer-item-right" (click)="editAddress(address)">
            <a class="drawer-item-edit"></a>
          </div>
        </div>
    </div>
    <div class="drawer-action">
      <a class="drawer-button" (click)="addAddress()">
        <i class="icon-add"></i>
        <span>新增收货地址</span>
        <div class="more"></div>
      </a>
    </div>
  </div>
</div>

<div class="drawer-container" *ngIf="isAddAddress || isEditAddress">
  <div class="drawer-header">
    <a class="close" (click)="closeWindow()"></a>
    <div class="drawer-title">
      编辑收货地址
    </div>
  </div>
  <div class="drawer-body">
    <div class="drawer-form">

      <div class="drawer-form-group"  *ngIf="!needIdentity">
        <label>收货人</label>
        <input placeholder="请填写收货人" [(ngModel)]="addressForm.name"/>
      </div>

      <div class="drawer-form-group" *ngIf="needIdentity">
        <label>收货人</label>
        <input placeholder="请确保姓名与身份证上一致"  [(ngModel)]="addressForm.user_name"  />

      </div>

      <div class="drawer-form-group">
        <label>联系电话</label>
        <input type="tel" placeholder="请填写联系电话" [(ngModel)]="addressForm.mobile"/>
      </div>



      <div class="drawer-form-group" *ngIf="needIdentity">
        <label>身份证号</label>
        <input placeholder="请填写身份证号"
               pattern="(^[1-9]\d{5}(18|19|([23]\d))\d{2}((0[1-9])|(10|11|12))(([0-2][1-9])|10|20|30|31)\d{3}[0-9Xx]$)|(^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$)"
               [(ngModel)]="addressForm.user_identity"  #user_identity="ngModel"/>
        <div *ngIf="user_identity.invalid && (user_identity.dirty || user_identity.touched)"
             class="alert alert-danger">
          <div *ngIf="user_identity.errors.pattern">
            (身份证格式不正确)
          </div>
        </div>
      </div>

      <div class="drawer-form-group">
        <label>使用地区</label>
        <div class="pull-left">
          <app-region-city class="region-city" [(cmwModel)]="addressForm.region"
                           (inputModelChange)="changeRegion($event)"></app-region-city>
        </div>
      </div>
      <div class="drawer-form-group">
        <label>详细地址</label>
        <input placeholder="请填写详细地址" [(ngModel)]="addressForm.address"/>
      </div>
<!--       <div class="drawer-form-group">
        <label>邮政编码</label>
        <input placeholder="请填写邮政编码" [(ngModel)]="addressForm.post_code"/>
      </div> -->
    </div>
  </div>
  <div class="drawer-buttons">
    <a class="button button-add" (click)="submitAddress()">保存</a>
    <a class="button" (click)="deleteAddress()" *ngIf="isEditAddress">删除收货物地址</a>
    <a class="button" (click)="deleteAddress()" *ngIf="isAddAddress">取消</a>
  </div>

</div>

  <div class="alertMain" *ngIf="pdalert">
    <div class="alertBor">
      <p class="alertText">{{textAlert}}</p>
      <div class="alertBut" (click)="qxalert()">确认</div>
    </div>
  </div>
