<div class="main-menu-container">
  <ul>
    <li>
      <a [routerLink]="['/index', shopId]">
        <i class="icon-home"></i>
        <span style="font-size: 17px;color: #CEA7A6;">首页</span>
      </a>
    </li>
    <li>
      <a (click)="goCart()">
        <i class="icon-cart"><span class="icon-number">{{cartCount}}</span></i>
        <span style="font-size: 17px;color: #7F8389;">购物车</span>
      </a>
    </li>
    <li>
      <a (click)="goMine()">
        <i class="icon-my"></i>
        <span style="font-size: 17px;color: #7F8389;">我的</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['add', shopId]" (click)="goMore()">
        <i class="icon-more"></i>
        <span style="font-size: 17px;color: #7F8389;">更多</span>
      </a>
    </li>
  </ul>
</div>
