/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@font-face {
  font-family: '微软雅黑';
  font-weight: 300;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Huxiaobo", Arial;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-text-size-adjust: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.main-menu-container {
  position: fixed;
  bottom: 0;
  height: 90px;
  border-top: solid 1px #CCCCCC;
  width: 640px;
  background: #ffffff;
}
.main-menu-container ul li {
  display: inline-block;
  width: 24%;
  text-align: center;
}
.main-menu-container ul li a i {
  margin-top: 10px;
  display: inline-block;
  width: 44px;
  height: 44px;
}
.main-menu-container ul li a i.icon-home {
  background: url("../../assets/images/index/6_03.png") no-repeat top center;
  background-position: center;
  background-size: 100% 100%;
}
.main-menu-container ul li a i.icon-cart {
  position: relative;
  background: url("../../assets/images/index/cart_unselected.png") no-repeat top center;
  background-position: center;
  background-size: 100% 100%;
}
.main-menu-container ul li a i.icon-cart .icon-number {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: #CEA7A6;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #ffffff;
  text-align: center;
  line-height: 20px;
  top: -5px;
  right: -10px;
}
.main-menu-container ul li a i.icon-my {
  background: url("../../assets/images/index/my_unselected.png") no-repeat top center;
  background-position: center;
  background-size: 100% 100%;
}
.main-menu-container ul li a i.icon-more {
  background: url("../../assets/images/index/9_03.png") no-repeat top center;
  background-position: center;
  background-size: 100% 100%;
}
.main-menu-container ul li a span {
  display: inline-block;
  width: 100%;
}
