<div class="wrapper">

  <div class="tip-container" *ngIf="needIdentity">
    <div><span>注意：</span>由于清关需要，请在收货地址页完善身份证信息</div>
  </div>

    <div class="address-container" *ngIf="address.id" (click)="selectRegion()" style="background: white">
      <div class="icon-lbs-yet"></div>
      <div class="info">
        <div class="name"><span>收货人：{{address.name}}</span><span> 电话：{{address.mobile}}</span></div>
        <div class="address">收货地址：{{address.region_string}} {{address.address}}</div>
      </div>
      <div class="more-yet"></div>
    </div>

    <div class="address-container" *ngIf="!address.id" (click)="selectRegion()">
      <a class="select">
        <div class="icon-lbs"></div>
        <a class="title">请选择地址</a>
        <div class="more"></div>
      </a>
    </div>
    <div class="hint" *ngIf="!address.id">提示：请在此填写您的收货地址并点击确认发货。</div>

  <div class="container">
    <ul class="item-container">
      <li class="item">
        <!--<div class="top">-->
          <!--<div class="brand">兑货单号：{{delivery.code}}</div>-->
        <!--</div>-->
        <div class="mid">
          <ul class="child-item-container">
            <li class="child-item" *ngFor="let product of delivery.products">
              <div class="thumb">
                <img src="{{product.product.thumb}}">
              </div>
              <div class="info">
                <div class="title">{{product.product.title}}</div>
                <div class="intro">{{product.product.summary}}</div>
                <div class="extra">
                  <div class="price">¥ {{product.product.product_price}}</div>
                  <div class="amount">x {{product.product.unit}}</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="bottom">
          共 {{delivery.unit}} 件商品 合计 ¥ {{delivery.price}}
        </div>
      </li>
    </ul>
  </div>
  <div style="width: 100%;height: 95px;background: #e5e5e5"></div>
  <div class="toolbar">
<!--     <a (click)="goIndex()" class="home"><i class="icon-home"></i></a>
    <a (click)="goCart()" class="cart"><i class="icon-cart"></i></a> -->
    <a class="purchase" (click)="doDelivery()">确认发货</a>
  </div>

  <div class="alertMain" *ngIf="pdalert">
    <div class="alertBor">
      <p class="alertText">{{textAlert}}</p>
      <div class="alertBut" (click)="qxalert()">确认</div>
    </div>
  </div>
</div>
<app-select-address *ngIf="showAddress" [delivery]="delivery" (close)="showAddress=false" (change)="chooseAddress($event)"></app-select-address>
