<div class="wrapper">
  <div class="check-container">
    <i class="icon-check"></i>
    <p>您已购买成功！</p>
<!--     <img src="assets/images/detail/starcode.jpg" class="starcode">
    <p class="codetext">在微信中轻按二维码关注</p> -->
  </div>
  <div class="address-container" *ngIf="needAddress">
    <div class="icon-lbs"></div>
    <div class="info">
      <div class="name"><span>收货人：{{address.name}}</span><span>电话：{{address.mobile}}</span></div>
      <div class="address">收货地址：{{address.region_desc}} {{address.address}}</div>
    </div>
  </div>
  <div class="container">
    <ul class="item-container">
      <li class="item">
        <div class="mid">
          <ul class="child-item-container">
            <div class="top">
              <div class="brand">订单编号：{{delivery.code}}</div>
            </div>
            <li class="child-item" *ngFor="let product of delivery.products" (click)="jump(product)">

              <div class="thumb">
                <img src="{{product.product.thumb}}">
              </div>
              <div class="info">
                <div class="title">{{product.product.title}}</div>
                <div class="intro">{{product.product.summary}}</div>
                <div class="intro" *ngIf="product.product_attributes !== null && product.product_attributes !== ''">规格：{{product.product_attributes}}</div>
                <div class="extra">
                  <div class="price">¥ {{product.product_price}}</div>
                  <div class="amount">x{{product.unit}}</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="remark" *ngIf="remark !== null && remark !== ''">备注：{{remark}}</div> 
        <div class="bottom" *ngIf="needAddress">
          注：商户发货后物流单号会显示在发货记录中，请过段时间查看，谢谢！
        </div>
        <div class="bottom" *ngIf="! needAddress">
          注：请凭订单编号或手机号至商家处消费！
        </div>
      </li>
    </ul>
  </div>
  <div class="toolbar">
    <a [routerLink]="['/mine/order', shopId, 'delivery']" class="order">发货记录</a>
    <!-- <a [routerLink]="['/index', shopId]" uiSref="['/index', shopId]" class="index">返回首页</a> -->
    <a (click)="goIndex()" class="index">返回首页</a>  
  </div>


</div>
<!-- 分享浮层 -->
<!-- <div class="share" *ngIf="wechatService.shareRedBin">
<div class="share">
  <div class="takered" (click)="takered()"></div>
</div> -->