<!-- <div class="content-wechat-pay" *ngIf="payAlert && !globalService.isWechat() && isMobile">
  <div class="wechat-pay">
    <div class="confirm-pay">请确认微信支付是否完成</div>
    <div class="finish-pay" (click)="finishPay()" >已支付完成</div>
    <div class="continue-pay" (click)="finishPay()">支付遇到问题,重新支付</div>
  </div>
</div> -->


<div *ngIf="needAddress">
  <div class="tip-container" *ngIf="needIdentity">
    <div><span>注意：</span>由于清关需要，请在收货地址页完善身份证信息</div>
  </div>

  <div class="address-container" *ngIf="address.id" (click)="selectRegion()" style="background: white">
    <div class="icon-lbs-yet"></div>
    <div class="info">
      <div class="name"><span style="float: left;margin-top: -5px;width: 250px;" class="textOverflowOne">{{address.name}}</span><span style="float: right">{{address.mobile}}</span></div>
      <div class="address"><div>{{address.region_string}}</div> <div class="omit">{{address.address}}</div></div>
    </div>
    <div class="more-yet"></div>
   </div>

  <div class="address-container" *ngIf="!address.id" (click)="selectRegion()">
    <a class="select">
      <div class="icon-lbs"></div>
      <a class="title">请选择地址</a>
       <div class="more"></div>
    </a>
  </div>
  <img src="assets/images/detail/selectaddressbr.png" class="brimg">
  <!-- <div class="hint" *ngIf="!address.id">提示：请在此填写您的收货地址并点击确认发货。</div> -->
</div>


<div class="order-detail-container">
  <!-- 优惠券 -->
  <div class="toolbar-sub">
<!--     <a class="coupon" (click)="chooseCoupon()" *ngIf="!coupon">
      <div class="merchant">渠道</div>
      <div class="logo"></div>
      <div class="title">选择优惠券</div>
    </a> -->
    <div class="packagemail" (click)="chooseCoupon()" *ngIf="!coupon">
      <div class="packagemailmain">
        <div class="packagemailleft">优惠券<span *ngIf="!orderService.pdcoupon">：暂无可用</span></div>
        <div class="packagemailrightimg">选择优惠券<div></div></div>
      </div>
    </div>
    <a class="use-coupon" (click)="chooseCoupon()" *ngIf="coupon">
      <div class="left">优惠券</div>
      <div class="right">立减{{coupon.discount}}元</div>
    </a>
  </div>
  <div class="toolbar">
    <!-- <div class="info">共{{order?.product_amount}}件商品 <span class="big">合计  <span class="price">¥ {{order?.price - (coupon ? coupon.discount : 0)}}</span></span> -->
    <div class="info"><span class="big">应付：<span class="price">¥ {{toDecimal2(price - (coupon ? coupon.discount : 0))}}</span></span>
    </div>
    <a class="submit" (click)="pay()">去付款</a>
  </div>

<!--   <div class="toolbar-sub" *ngIf="order?.pay_status === 'SUCCESS' && order?.coupon">
    <a class="use-coupon">
      <div class="left">优惠券</div>
      <div class="right">立减{{order?.coupon.discount}}元</div>
    </a>
  </div>
  <div class="toolbar" *ngIf="order?.pay_status === 'SUCCESS'">
    <div class="info">共{{order?.product_amount}}件商品 <span class="big">合计  <span class="price">¥ {{order?.price - (order?.coupon ? order?.coupon.discount : 0)}}</span></span>
    </div>
    <a class="submit disable">已支付</a>
  </div> -->

  <!-- 商品信息 -->
<!--   <ul class="item-container">
    <li class="item">
      <div class="top">
      </div>
      <div class="mid">
        <div class="brand-container" *ngFor="let brand of order?.brands">
          <div class="brand">{{ brand.brand.name }}</div>
          <ul class="child-item-container">
            <li class="child-item" *ngFor="let product of brand.products">
              <div class="thumb">
                <img src="{{product.product.thumb}}">
              </div>
              <div class="info">
                <div class="title">{{product.product.title}}</div>
                <div class="intro">{{product.product.summary}}</div>
                <div class="extra">
                  <div class="price">¥ {{product.product.price}}</div>
                  <div class="amount">x{{product.amount | number}}</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </li>
  </ul> -->
  <ul class="item-container">
    <li class="item">
      <div class="top">
      </div>
      <div class="mid">
        <div class="brand-container" *ngFor="let brand of brandArr">
          <div class="brand">{{ brand.name }}</div>
          <ul class="child-item-container">
            <div *ngFor="let product of orderService.productObject">
                <li class="child-item" *ngIf="product.product.brand.id === brand.id">
                <div>
                  <div class="thumb">
                    <img src="{{product.product.thumb}}">
                  </div>
                  <div class="info">
                  <div class="title">{{product.product.title}}</div>
                  <div class="intro">{{product.product.summary}}</div>
                  <div class="intro" *ngIf="product.attribute !== ''">规格：{{product.attribute}}</div>
                  <div class="extra">
                    <div class="price">¥ {{product.product.price}}</div>
                    <div class="amount">x{{product.unit}}</div>
                 </div>
                </div>
                </div>
              </li>
            </div>
          </ul>
        </div>
        <div class="remark">
          留言：
          <input type="text" class="remarkInput" placeholder="选填" [(ngModel)]="remark">
        </div>
        <div style="height: 90px;background: #e5e5e5">
          
        </div>
      </div>
    </li>
  </ul>


  
</div>

<div class="alertMain" *ngIf="pdalert">
  <div class="alertBor">
    <p class="alertText">{{textAlert}}</p>
    <div class="alertBut" (click)="qxalert()">确认</div>
  </div>
</div>
<div class="alertMain" *ngIf="pdaddressalert">
  <div class="alertBor">
    <p class="alertText">{{textAlert}}</p>
    <div class="alertBut" (click)="addressalert()">确认</div>
  </div>
</div>

<app-choose-coupon *ngIf="showCoupon" (showClose)="showCoupon=false" [showCouponToolbar]="showCouponSelect"
                   (onCouponSelect)="onCouponSelect($event)" [price]="price" [shopId]="shopId"></app-choose-coupon>

<app-payment [code]="code" [showPaymentToolbar]="showPaymentToolbar" [couponSelected]="couponSelected"
             (onPaySuccess)="onPaySuccess($event)"></app-payment>

<app-select-address *ngIf="showAddress" [delivery]="needIdentity" (close)="showAddress=false" (change)="chooseAddress($event)"></app-select-address>
