<div class="tabs">
  <ul>
    <li [ngClass]="{'active': activeTab=='order'}" (click)="activeTab='order'">
      <a>待付款</a>
    </li>
    <!--<li [ngClass]="{'active': activeTab=='reward'}" (click)="activeTab='reward'">-->
      <!--<a>赠送记录</a>-->
    <!--</li>-->
    <li [ngClass]="{'active': activeTab=='delivery'}" (click)="activeTab='delivery'">
      <a>发货</a>
    </li>
  </ul>
</div>
<div class="content content-order" *ngIf="activeTab=='order'">
  <ul class="item-container">
    <li class="item" *ngFor="let order of orders">
      <a *ngIf="order.pay_status !== 'SUCCESS' ">
        <div class="top">
		  <!-- <div class="order-no" *ngFor="let brand of order.brands"><div *ngFor="let product of brand.products">下单时间：{{product.created_at}}</div></div> -->
      <div class="order-no" style="margin-top: 12px;">订单编号：{{order.code}}</div>
		  <div class="brandbor">
			<!-- <div class="brand" *ngFor="let brand of order.brands">{{brand.brand.name}}</div> -->

			<div class="status" *ngIf="order.pay_status === 'SUCCESS'">已完成</div>
      <div class="status" *ngIf="order.pay_status === 'CANCEL'">已取消</div>
			<div class="status status-init" *ngIf="order.pay_status === 'INIT'">等待付款</div>
		  </div>

        </div>
        <div class="mid" (click)="goLineItem(order.code)">
          <div class="brand-container" *ngFor="let brand of order.brands">
            <div class="brand">{{brand.brand.name}}</div>
            <ul class="child-item-container">
              <li class="child-item" *ngFor="let product of brand.products">
                <div class="thumb">
                  <img src="{{product.product.thumb}}">
                </div>
                <div class="info">
                  <div class="title">{{product.product.title}}</div>
                  <div class="intro">{{product.product.summary}}</div>
                  <div class="intro" *ngIf="product.product_attributes !== '' && product.product_attributes !== null">规格：{{product.product_attributes}}</div>
				          <div class="extra">
					          <div class="price">¥ {{product.product.price}}</div>
					          <div class="amount">x{{product.amount | number}}</div>
				          </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="bottom" *ngIf="order.coupon === null || order.coupon === undefined">
          共{{order.product_amount}}件商品 合计 ¥ {{order.price}}
        </div>
        <div class="bottom" *ngIf="order.coupon !== null && order.coupon !== undefined">
          共{{order.product_amount}}件商品 合计 ¥ {{order.price}} - {{order.coupon.discount}} = {{order.orderPrice}}
        </div>
		    <div class="paymentbor" *ngIf="order.pay_status === 'INIT'">
          <div class="discountsimg" *ngIf="order.coupon !== null && order.coupon !== undefined"></div>
          <div class="paymentbut" (click)="goOrderDetail(order)">去付款</div>
          <div class="canclepaybut" (click)="canclePay(order)">取消订单</div>
        </div>
      </a>
    </li>
  </ul>
  <div class="order-more" (click)="orderMore()" *ngIf="pdorderMore" >点击加载更多</div>
  <div class="empty" *ngIf="orders.length == 0">暂无记录</div>
</div>

<div class="content content-reward" *ngIf="activeTab=='reward'">
	
  <ul class="item-container">
    <li class="item" *ngFor="let reward of rewards">
      <a (click)="goRewardDetail(reward)">
        <div class="top">
          <div class="name" *ngIf="reward.user?.profile?.nickname">受赠人：{{reward.user?.profile?.nickname}}</div>
          <div class="time">赠送时间：{{reward.reward_time}}</div>
        </div>
        <div class="mid">
          <ul class="child-item-container">
            <li class="child-item" *ngFor="let product of reward.products">
              <div class="thumb">
                <img src="{{product.product_thumb}}">
              </div>
              <div class="info">
                <div class="title">{{product.product_title}}</div>
                <div class="intro">{{product.product_summary}}</div>
              </div>
              <div class="extra">
                <div class="price">¥ {{product.product_price}}</div>
                <div class="amount">x{{product.amount | number}}</div>
              </div>
            </li>
          </ul>
        </div>
      </a>
    </li>
  </ul>
  <div class="empty" *ngIf="rewards.length == 0">暂无记录</div>
</div>
<div class="content content-delivery" *ngIf="activeTab=='delivery'">
  <ul class="item-container">
    <li class="item" *ngFor="let delivery of deliveries">
      <a (click)="goDeliveryDetail(delivery)">
        <div class="top">
          <!-- <div class="intro">发货时间：{{delivery.delivery_time}}</div> -->
          <div class="intro">订单编号：{{delivery.code}}</div>
          <!-- <div> -->
            <div class="status status-init" *ngIf="delivery.delivery_status=='INIT'">未发货</div>
            <div class="status status-delivering" *ngIf="delivery.delivery_status=='DELIVERING'">发货中</div>
            <div class="status status-delivery" *ngIf="delivery.delivery_status=='DELIVERY'">已发货</div>
          <!-- </div> -->
        </div>
        <div class="mid">
          <ul class="child-item-container">
            <li class="child-item" *ngFor="let product of delivery.products">
              <div class="thumb">
                <img src="{{product.product_thumb}}">
              </div>
              <div class="info">
                <div class="title">{{product.product_title}}</div>
                <div class="intro">{{product.product_summary}}</div>
                <div class="intro" *ngIf="product.product_attributes !== '' && product.product_attributes !== null">规格：{{product.product_attributes}}</div>
				<div class="extra">
					<div class="price">¥ {{product.product_price}}</div>
					<div class="amount">x{{product.unit | number}}</div>
				</div>
              </div>
              <div *ngIf="delivery.delivery_status=='DELIVERY'" class="expressCompany">
                快递公司：{{product.express_company}}
              </div>
              <div *ngIf="delivery.delivery_status=='DELIVERY'" class="expressCompany">
                物流单号：{{product.express_no}}
              </div>
            </li>
          </ul>
        </div>
        <div class="bottom" *ngIf="delivery.delivery_status=='DELIVERY'">
          <span *ngIf="delivery.remarks[0] !== null">备注：<span *ngFor="let remark of delivery.remarks">{{remark}}</span></span>
          <!-- 物流单号：<span *ngFor="let express_no of delivery.express_nos">{{express_no}}</span> -->
        </div>
      </a>
    </li>
  </ul>
  <div class="delivery-more" (click)="deliveryMore()" *ngIf="pddeliveryMore">点击加载更多</div>
  <div class="empty" *ngIf="deliveries.length == 0">暂无记录</div>
</div>


<div class="alertMain" *ngIf="pdalert">
  <div class="alertBor">
    <p class="alertText">确定取消订单吗</p>
    <div class="alertButleft" (click)="qxalert()">取消</div>
    <div class="alertButright" (click)="qralert()">确认</div>
  </div>
</div>

<div class="alertMain" *ngIf="pdaddressalert">
  <div class="alertBor">
    <p class="alertText">缺少地址信息,请前往订单详情页填写</p>
    <div class="alertButaddress" (click)="qraddressalert()">确认</div>
  </div>
</div>

<app-payment [code]="code" [showPaymentToolbar]="showPaymentToolbar" [couponSelected]="couponSelected"
             (onPaySuccess)="onPaySuccess($event)"></app-payment>