/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@font-face {
  font-family: '微软雅黑';
  font-weight: 300;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Huxiaobo", Arial;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-text-size-adjust: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.tabs {
  *zoom: 1;
}
.tabs:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.tabs ul li {
  width: 320px;
  display: inline-block;
  height: 65px;
  line-height: 65px;
  border-top: 5px solid #D6D6D6;
  background: #D6D6D6;
  float: left;
  /*margin-left: 5px;*/
  cursor: pointer;
}
.tabs ul li:first-child {
  margin: 0;
}
.tabs ul li.active {
  border-top: 5px solid #CEA7A6;
  background: #ffffff;
}
.tabs ul li a {
  text-align: center;
  display: inline-block;
  width: 100%;
  line-height: 65px;
  font-size: 30px;
}
.content {
  background: #ffffff;
  padding-top: 20px;
}
.content .empty {
  text-align: center;
  line-height: 32px;
}
.content-reward .item {
  margin-bottom: 10px;
}
.content-reward .top {
  position: relative;
  border-bottom: solid 1px rgb(230,230,230);
  padding-bottom: 10px;
  padding-top: 10px;
  *zoom: 1;
}
.content-reward .top:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.content-reward .top .name {
  float: left;
  font-size: 22px;
  margin-left: 20px;
}
.content-reward .top .time {
  float: right;
  margin-right: 20px;
  color: #666666;
}
.content-reward .mid {
  *zoom: 1;
}
.content-reward .mid:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.content-reward .mid .child-item-container .child-item {
  *zoom: 1;
  border-bottom: solid 1px rgb(230,230,230);
  padding: 20px 0;
}
.content-reward .mid .child-item-container .child-item:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.content-reward .mid .child-item-container .child-item .thumb {
  float: left;
  margin-left: 20px;
}
.content-reward .mid .child-item-container .child-item .thumb img {
  width: 160px;
  height: 160px;
}
.content-reward .mid .child-item-container .child-item .info {
  float: left;
  width: 300px;
  margin-left: 20px;
}
.content-reward .mid .child-item-container .child-item .info .title {
  font-size: 26px;
}
.content-reward .mid .child-item-container .child-item .info .intro {
  font-size: 20px;
  color: #666666;
  margin-top: 10px;
}
.content-reward .mid .child-item-container .child-item .extra {
  float: right;
  margin-right: 20px;
}
.content-reward .mid .child-item-container .child-item .extra .price {
  color: #CEA7A6;
  font-size: 22px;
  text-align: right;
}
.content-reward .mid .child-item-container .child-item .extra .amount {
  font-size: 20px;
  color: #666666;
  margin-top: 110px;
  text-align: right;
}
/*.content-delivery .item {
  margin-bottom: 10px;
}*/
.content-delivery .top {
  box-sizing: border-box;
  height: 69px;
  position: relative;
  border-top: solid 1px rgb(230,230,230);
  border-bottom: solid 1px rgb(230,230,230);
  padding-top: 22px;
  *zoom: 1;
}
.content-delivery .top:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.content-delivery .top .intro {
  font-size: 20px;
  color: #666666;
  width: 500px;
  margin-left: 20px;
}
.content-delivery .top .status {
  width: 200px;
  font-size: 28px;
  text-align: right;
  color: #CEA7A6;
  font-weight: 400;
  position: absolute;
  right: 40px;
  top: 10px;
}
.content-delivery .top .status.status-delivering {
  color: #7CDB76;
}
.content-delivery .top .status.status-delivery {
  color: #7CDB76;
}
.content-delivery .mid {
  *zoom: 1;
}
.content-delivery .mid:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.content-delivery .mid .child-item-container .child-item {
  *zoom: 1;
  padding: 20px 0;
}
.content-delivery .mid .child-item-container .child-item:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.content-delivery .mid .child-item-container .child-item .thumb {
  float: left;
  margin-left: 20px;
}
.content-delivery .mid .child-item-container .child-item .thumb img {
  width: 196px;
  height: 196px;
}
.content-delivery .mid .child-item-container .child-item .info {
  float: right;
  width: 380px;
  margin-right: 20px;
}
.content-delivery .mid .child-item-container .child-item .info .title {
  font-size: 28px;
  font-weight: 400;
}
.content-delivery .mid .child-item-container .child-item .info .intro {
  font-size: 20px;
  color: #666666;
  margin-top: 10px;
}
.content-delivery .mid .child-item-container .child-item .extra {
  margin-top: 35px;
}
.content-delivery .mid .child-item-container .child-item .extra .price {
  color: #CEA7A6;
  font-size: 28px;
  font-weight: 400;
  float: left;
}
.content-delivery .mid .child-item-container .child-item .extra .amount {
  font-size: 20px;
  color: #666666;
  float: right;
}
.content-delivery .bottom {
  text-align: right;
  color: #666666;
  font-size: 18px;
  line-height: 40px;
  border-bottom: solid 1px rgb(230,230,230);
  padding-right: 20px;
}
.content-order .item-container .item .top {
  position: relative;
  border-top: solid 1px rgb(230,230,230);
  border-bottom: solid 1px rgb(230,230,230);
  padding-bottom: 10px;
  padding-top: 10px;
  *zoom: 1;
}
.content-order .item-container .item .top:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.content-order .item-container .item .top .order-no {
  font-size: 20px;
  color: #666666;
  float: left;
  width: 500px;
  margin-left: 20px;
}
.content-order .item-container .item .top .brand {
  width: 400px;
  font-size: 28px;
  float: left;
  margin-left: 20px;
  color: #CEA7A6;
  font-weight: 400;
}
.content-order .item-container .item .top .status {
  width: 200px;
  float: right;
  font-size: 28px;
  color: #7CDB76;
  text-align: right;
  margin-right: 20px;
    font-weight: 400;
            position: absolute;
          right: 20px;
          top: 13px;
}
.content-order .item-container .item .top .status.status-init {
  color: #CEA7A6;
}
.content-order .item-container .item .mid {
  *zoom: 1;
}
.content-order .item-container .item .mid:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.content-order .item-container .item .mid .child-item-container .child-item {
  *zoom: 1;
  border-bottom: solid 1px rgb(230,230,230);
  padding: 10px 0 20px 10px;
}
.content-order .item-container .item .mid .child-item-container .child-item:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.content-order .item-container .item .mid .child-item-container .child-item .thumb {
  float: left;
  margin-left: 10px;
}
.content-order .item-container .item .mid .child-item-container .child-item .thumb img {
  width: 196px;
  height: 196px;
}
.content-order .item-container .item .mid .child-item-container .child-item .info {
  float: right;
  width: 380px;
  margin-right: 20px;
}
.content-order .item-container .item .mid .child-item-container .child-item .info .title {
  font-size: 28px;
  font-weight: 400;
}
.content-order .item-container .item .mid .child-item-container .child-item .info .intro {
  font-size: 20px;
  color: #666666;
  margin-top: 10px;
}
.content-order .item-container .item .mid .child-item-container .child-item .extra {
  margin-top: 35px;
}
.content-order .item-container .item .mid .child-item-container .child-item .extra .price {
  color: #CEA7A6;
  font-size: 28px;
  font-weight: 400;
  float: left;
}
.content-order .item-container .item .mid .child-item-container .child-item .extra .amount {
  font-size: 20px;
  color: #666666;
  float: right;
}
.content-order .item-container .item .bottom {
  text-align: right;
  color: #666666;
  font-size: 20px;
  line-height: 40px;
  border-bottom: solid 1px rgb(230,230,230);
  padding-right: 20px;
}
.brandbor {
  margin-top: 47px;
}
.paymentbor {
  box-sizing: border-box;
  padding: 28px 0 28px 0;
  overflow: hidden;
  /*border-bottom: solid 3px #efefef;*/
}
.discountsimg{
  background: url("../../assets/images/order/coupon_used.svg") no-repeat;
  background-size: 100%;
  background-position: center;
  float: left;
  height: 60px;
  margin-left: 20px;
  margin-top: 16px;
  width: 106px;
}
.paymentbut {
  width: 180px;
  height: 92px;
  background: #CEA7A6;
  float: right;
  text-align: center;
  line-height: 92px;
  color: white;
  font-size: 28px;
  font-weight: 400;
}
.canclepaybut{
  width: 180px;
  height: 90px;
  /*background: #FED132;*/
  background: white;
  float: right;
  text-align: center;
  line-height: 92px;
  color: black;
  font-size: 28px;
  font-weight: 400;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
}


.alertMain {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}
.alertBor {
  margin: 0 auto;
  margin-top: 35vh;
  background: white;
  width: 65%;
  min-width: 65%;
  border-radius: 30px;
  overflow: hidden;
}
.alertText {
  padding: 40px;
  padding-bottom: 0;
  font-size: 22px;
  text-align: center;
}
.alertButleft {
  margin-top: 30px;
  background: white;
  width: 50%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  color: #000000;
  font-size: 22px;
  float: left;
  border-top:1px solid #e5e5e5;
}
.alertButright {
  margin-top: 30px;
  background: #CEA7A6;
  width: 50%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  color: white;
  font-size: 22px;
  float: right;
  border-top:1px solid #CEA7A6;
}
.alertButaddress {
  margin-top: 30px;
  background: #CEA7A6;
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  color: white;
  font-size: 22px;
  float: right;
  border-top:1px solid #CEA7A6;
}
.brand{
  font-size: 28px;
  color: #CEA7A6;
  font-weight: 400;
  box-sizing: border-box;
  padding-left: 20px;
  margin-top: 5px;
}
.order-more {
  width: 100%;
  text-align: center;
  height: 100px;
  line-height: 100px;
  background: #CEA7A6;
  color: white;
  font-size: 28px;
  position: absolute;
}
.delivery-more {
    width: 100%;
  text-align: center;
  height: 100px;
  line-height: 100px;
  background: #CEA7A6;
  color: white;
  font-size: 28px;
  position: absolute;
}
.expressCompany {
  float: right;
  width: 380px;
  margin-right: 20px;
  text-align: right;
  font-size: 20px;
}