<div class="wrapper">
  <div class="check-container">
    <i class="icon-check"></i>
    <h3>您已支付成功</h3>
    <!-- <h4>请立即发货！</h4> -->
  </div>
  <div class="tip-container">
    <h1>请点击下方［按钮］填写发货信息</h1>
  </div>
  <div class="container">
    <ul class="item-container">
      <li class="item">
        <div class="mid">
          <div class="brand-container" *ngFor="let brand of order?.brands">
            <div class="child-item-header">
              {{brand.brand.name}}
            </div>
            <ul class="child-item-container">
              <li class="child-item" *ngFor="let product of brand.products">
                <div class="thumb">
                  <img src="{{product.product.thumb}}">
                </div>
                <div class="info">
                  <div class="title">{{product.product.title}}</div>
                  <div class="intro">{{product.product.summary}}</div>
                </div>
                <div class="extra">
                  <div class="price">¥ {{product.product.price}}</div>
                  <div class="amount">x{{product.amount | number}}</div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div class="toolbar">
    <!--<a [routerLink]="['/mine/stock', shopId]" class="order">赠送给好友</a>-->
    <!--<a [routerLink]="['/mine/stock', shopId]" class="index">发货</a>-->
    <a class="index" (click)="ship()">发货</a>
  </div>
</div>
