<div class="payment-bg" *ngIf="isShowPaymentToolbar">
</div>
<div class="payment-container" *ngIf="isShowPaymentToolbar">
  <div class="header">
    <!-- <a class="close" (click)="close()"></a> -->
    <!-- <a class="question"></a> -->
    <div class="amount">共{{order?.product_amount}}件商品</div>
    <!-- <div class="price">¥ {{order?.price - (coupon ? coupon?.discount : 0)}}</div> -->
  </div>
  <div class="container">
    <div class="title">
      选择付款方式
    </div>
    <div class="content">
      <ul>
        <!-- 微信小程序 -->
        <li class="wechat" *ngIf="globalService.isWechat() && pdminiApp == true">  
          <!-- 小程序 -->
          <a (click)="payMiniApp()">
            <div class="thumb"></div>
            <div class="more"></div>
          </a>
        </li>
        <!-- 微信微信 -->
        <li class="wechat" *ngIf="globalService.isWechat() && pdminiApp == false">  
          <a (click)="payWechat()">
            <div class="thumb"></div>
            <div class="more"></div>
          </a>
        </li>
        <li class="wechat" *ngIf="!globalService.isWechat() && isMobile && pdminiApp == false">
          <a (click)="payWechatH5()">
            <div class="thumb"></div>
            <div class="more"></div>
          </a>
        </li>
        <!-- 支付宝 -->
         <li class="alipay" *ngIf="!globalService.isWechat() && pdminiApp == false">
          <a (click)="payAlipay()">
            <div class="thumb"></div>
            <div class="more"></div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="alertMain" *ngIf="pdalert">
  <div class="alertBor">
    <p class="alertText">{{textAlert}}</p>
    <div class="alertBut" (click)="qxalert()">确认</div>
  </div>
</div>
