/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@font-face {
  font-family: '微软雅黑';
  font-weight: 300;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Huxiaobo", Arial;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-text-size-adjust: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.payment-container {
  background: #ffffff;
  position: fixed;
  bottom: 0;
  width: 640px;
  z-index: 2;
}
.payment-container .header {
  padding: 20px 20px;
  border-bottom: solid 1px #EFEFEF;
  *zoom: 1;
}
.payment-container .header:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.payment-container .header .close {
  display: inline-block;
  background: url("../../assets/images/cart/close.svg") no-repeat;
  width: 21px;
  height: 23px;
  float: left;
}
.payment-container .header .question {
  display: inline-block;
  background: url("../../assets/images/cart/question.svg") no-repeat;
  width: 28px;
  height: 27px;
  float: right;
}
.payment-container .header .amount {
  width: 100%;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  color: #666666;
}
.payment-container .header .price {
  font-size: 34px;
  width: 100%;
  display: inline-block;
  text-align: center;
}
.payment-container .container .title {
  font-size: 22px;
  line-height: 60px;
  padding: 0 45px;
  display: block;
  border-bottom: solid 1px #EFEFEF;
}
.payment-container .container .content {
  padding-bottom: 50px;
  *zoom: 1;
}
.payment-container .container .content:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.payment-container .container .content ul li.wechat,
.payment-container .container .content ul li.alipay {
  border-bottom: solid 1px #EFEFEF;
  padding: 0 45px;
}
.payment-container .container .content ul li.wechat a,
.payment-container .container .content ul li.alipay a {
  display: block;
  cursor: pointer;
  *zoom: 1;
}
.payment-container .container .content ul li.wechat a:after,
.payment-container .container .content ul li.alipay a:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.payment-container .container .content ul li.wechat .thumb,
.payment-container .container .content ul li.alipay .thumb {
  display: inline-block;
  background: url("../../assets/images/cart/wechat.svg") no-repeat;
  width: 174px;
  height: 65px;
  float: left;
  margin-top: 17px;
}
.payment-container .container .content ul li.wechat .more,
.payment-container .container .content ul li.alipay .more {
  display: inline-block;
  background: url("../../assets/images/cart/more.svg") no-repeat;
  width: 21px;
  height: 43px;
  float: right;
  margin-top: 22px;
}
.payment-container .container .content ul li.alipay .thumb {
  display: inline-block;
  background: url("../../assets/images/cart/alipay.svg") no-repeat;
  background-size: 150px;
  width: 174px;
  height: 65px;
  float: left;
  margin-top: 17px;
}
.payment-bg {
  background: #000000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  -webkit-opacity: 0.7;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  filter: alpha(opacity=70);
  z-index: 1;
}

.alertMain{
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.7);
  position:fixed;
  left:0;
  top:0;
  z-index: 100;
}
.alertBor{
  margin: 0 auto;
  margin-top: 35vh;
  background: white;
  width: 65%;
  min-width: 65%;
  border-radius: 30px;
  overflow: hidden;
}
.alertText{
  padding: 40px;
  padding-bottom: 0;
  font-size:22px;
  text-align: center;
}
.alertBut{
  margin-top: 30px;
  background: #CEA7A6;
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  color: white;
  font-size: 22px;
}
