/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@font-face {
  font-family: '微软雅黑';
  font-weight: 300;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Huxiaobo", Arial;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-text-size-adjust: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.item img {
  width: 640px;
}
.leftRs {
  position: absolute;
  top: -1000px;
}
.rightRs {
  position: absolute;
  top: -1000px;
}
.wrapper .brand {
  width: 640px;
  *zoom: 1;
}
.wrapper .brand:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.wrapper {
  background: #FFF7F7;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
}
.wrapper .brand img {
  width: 100%;
}
.wrapper .container .header {
  overflow: hidden;
}
.wrapper .container .header h1 {
  font-size: 28px;
  line-height: 85px;
  font-weight: 400;
  text-align: center;
}
.wrapper .container .content {
  padding: 0 30px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper .container .content ul {
  display: inline-block;
  width: 100%;
}
.wrapper .container .content ul li .receive {
  background: url("../../assets/images/index/coupon_unactive_bg.png") no-repeat;
  width: 100%;
  height: 180px;
  background-position: center;
  background-size: 100% 100%;
  display: block;
  margin-bottom: 15px;
  overflow: hidden;
}
.wrapper .container .content ul li .unreceive {
  background: url("../../assets/images/index/coupon_active_bg.png") no-repeat;
  width: 100%;
  height: 180px;
  background-position: center;
  background-size: 100% 100%;
  display: block;
  margin-bottom: 15px;
  overflow: hidden;
}

.wrapper .container .content ul li .center {
  width: 200px;
  float: left;
}
.wrapper .container .content ul li .center .title {
  margin-top: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wrapper .container .content ul li .center .title {
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
}
.wrapper .container .content ul li .right {
  float: right;
  width: 180px;
  height: 180px;
  vertical-align: middle;
  font-size: 28px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  padding-top: 50px;
}
.wrapper .toolbar {
  position: fixed;
  bottom: 0;
  height: 90px;
  background: #ffffff;
  width: 640px;
  border-top: 5px solid #FFF7F7;
}
.wrapper .toolbar .submit {
  background: #FADCD5;
  font-size: 28px;
  color: #ffffff;
  display: inline-block;
  line-height: 90px;
  width: 100%;
  text-align: center;
  float: right;
  font-weight: bold;
}
.alertMain {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}
.alertBor {
  margin: 0 auto;
  margin-top: 35vh;
  background: white;
  width: 65%;
  min-width: 65%;
  border-radius: 30px;
  overflow: hidden;
}
.alertText {
  padding: 40px;
  padding-bottom: 0;
  font-size: 22px;
  text-align: center;
}
.alertBut {
  margin-top: 30px;
  background: #CEA7A6;
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  color: white;
  font-size: 22px;
}
.couponHeader {
  width: 588px;
  height: 92px;
  text-align: left;
  line-height: 92px;
  background: white;
  color: #333B48;
  font-size: 28px;
  box-sizing: border-box;
  padding-left: 28px;
  font-weight: bold;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 16px;
}
.left {
  float: left;
  height: 180px;
  width: 400px;
  box-sizing: border-box;
  padding-left: 28px;
}
.receivePrice {
  width: 100%;
  margin-top: 25px;
  font-size: 34px;
}
.receiveSummary {
  width: 100%;
  font-size: 20px;
}
.receiveExpire {
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
}
.receiveLimit {
  width: 100%;
  font-size: 20px;
}
.colorWhite {
  color: white;
}
.colorBDCCD3 {
  color: #BDCCD3;
}
.color333A48 {
  color: #333A48;
}
.colorCCCCCC {
  color: #CCCCCC;
}
.bottom {
  width: 100%;
  height: 90px;
}
.getCouponImg {
  background: url("../../assets/images/index/getcouponimg.png") no-repeat;
  width: 500px;
  height: 594px;
  background-position: center;
  background-size: 100% 100%;
  position: absolute;
  left: 70px;
  top: 50%;
  margin-top: -287px;
}
.getCouponBut {
  position: absolute;
  bottom: 30px;
  left: 70px;
  width: 372px;
  height: 126px;
  background: url("../../assets/images/index/getCouponBut.png") no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.gbgetCouponBut {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  top: 20px;
  background: url("../../assets/images/detail/x.png") no-repeat;
  background-position: center;
  background-size: 100% 100%;
}