<div class="wrapper">
<!--   <ngx-carousel
    [inputs]="carouselOne"
    [moveToSlide]="1">
    <ngx-item NgxCarouselItem class="bannerStyle" *ngFor="let banner of banners">
      <img src="{{banner.thumb}}"/>
    </ngx-item>
    <button NgxCarouselPrev class='leftRs'>&lt;</button>
    <button NgxCarouselNext class='rightRs'>&gt;</button>
  </ngx-carousel> -->
  <div class="container">
    <div class="header">
      <div class="couponHeader">
        {{globalService.shopModel.channel_name}}优惠券
      </div>
    </div>
    <div class="content">
      <ul>
        <li *ngFor="let coupon of coupons">
          <div class="receive" *ngIf="coupon.is_receive === 1"> 
            <div class="left">
              <div class="receivePrice colorWhite">
                立减¥{{parseInt(coupon.discount)}}
              </div>
              <div class="receiveSummary colorWhite">
                订单满{{parseInt(coupon.man)}}使用
              </div>
              <div class="receiveExpire colorWhite">
                有效期 {{coupon.start_time}}-{{coupon.end_time}}
              </div> 
              <div class="receiveLimit colorWhite">
                每人限领{{coupon.limit_amount}}张
              </div>
            </div>
<!--             <div class="center">
              <div class="title" style="margin-top:8px">
                {{coupon.title}}
              </div>
            </div> -->
            <a class="right" *ngIf="coupon.is_receive === 1">
              已经<br>
              领取
            </a>
          </div>
          <div class="unreceive" *ngIf="coupon.is_receive === 0">
            <div class="left">
              <div class="receivePrice colorBDCCD3">
                立减¥{{parseInt(coupon.discount)}}
              </div>
              <div class="receiveSummary color333A48">
                订单满{{parseInt(coupon.man)}}使用
              </div>
              <div class="receiveExpire colorCCCCCC">
                有效期 {{coupon.start_time}}-{{coupon.end_time}}
              </div> 
              <div class="receiveLimit colorCCCCCC">
                每人限领{{coupon.limit_amount}}张
              </div>
            </div>
<!--             <div class="center">
              <div class="title" style="margin-top:8px">
                {{coupon.title}}
              </div>
            </div> -->
            <a (click)="receive(coupon)" class="right" *ngIf="coupon.is_receive === 0">
              立即<br>
              领取
            </a>
          </div>
        </li>
      </ul>

    </div>
    <div class="bottom"></div>
    <div class="toolbar">
      <a [routerLink]="['/index', shopId]" class="submit">去使用</a>
    </div>
  </div>
</div>
  <div class="alertMain" *ngIf="pdalert">
    <div class="getCouponImg">
      <div class="gbgetCouponBut"  (click)="qxalert()"></div>
      <!-- [routerLink]="['/index', shopId]" -->
      <a class="getCouponBut" (click)="qxalert()"></a>
    </div>
  </div>

