/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@font-face {
  font-family: '微软雅黑';
  font-weight: 300;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Huxiaobo", Arial;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-text-size-adjust: none;
}

.header {
  width: 100%;
  height: 90px;
  box-sizing: border-box;
  padding: 0 20px;
  line-height: 90px;
  background: #CEA7A6;
/*  background: -webkit-linear-gradient(left, rgb(245,197,58), rgb(234,33,52) );
  background: -o-linear-gradient(right, rgb(245,197,58), rgb(234,33,52) );
  background: -moz-linear-gradient(right, rgb(245,197,58), rgb(234,33,52) );
  background: linear-gradient(to right, rgb(245,197,58), rgb(234,33,52) );*/
}
.headertext {
  float: left;
  font-weight: 400;
  font-size: 28px;
  color: white;
}
.headertime {
  float: right;
  font-weight: 400;
  font-size: 24px;
  color: white;
}
.headertime span {
  color: white;
}
.order-detail-container {
  background: #ffffff;
}
.toolbar-sub {
  margin-top: 8px;
  border-bottom: 8px solid #e5e5e5; 
}
.order-detail-container .toolbar-sub .use-coupon {
  vertical-align: middle;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 13px 25px 0 25px;
  height: 65px;
  /*background: url("../../assets/images/detail/selectaddressred.png") 600px 20px no-repeat;*/
  border-bottom: solid 1px #efefef;
  margin-top: 5px;
  display: inline-block;
  width: 100%;
}
.order-detail-container .toolbar-sub .use-coupon .left {
  font-size: 25px;
  font-weight: 400;
  color: #CEA7A6;
  float: left;
  line-height: 40px;
  box-sizing: border-box;
  padding-left: 15px;
  border-left: 3px solid #CEA7A6;
}
.order-detail-container .toolbar-sub .use-coupon .right {
  font-size: 25px;
  font-weight: 400;
  color: #CEA7A6;
  float: right;
  line-height: 40px;
}

.tip-container {
  line-height: 60px;
  height: 60px;
  font-size: 24px;
  padding: 10px 0 10px 20px;
  background-color: #efefef;
}
.tip-container span {
  color: #CEA7A6;
}
.address-container {
  height: 120px;
  overflow: hidden;
  background: #CEA7A6;
  *zoom: 1;
  border-bottom: solid 1px #efefef;
}
.address-container:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.address-container .select {
  display: block;
  margin-top: 45px;
}
.address-container .select .title {
  padding-left: 20px;
  line-height: 30px;
  font-size: 28px;
  font-weight: 400;
  color: white;
}
.address-container .select .more {
  float: right;
  margin: 0 14px 0 0;
}
.address-container .select .icon-lbs {
  margin: -5px 0 0 20px;
}
.address-container .icon-lbs-yet {
  background: url("../../assets/images/address/location.svg") no-repeat;
  display: inline-block;
  width: 40px;
  height: 40px;
  float: left;
  margin: 35px 25px 0 25px;
}
.address-container .icon-lbs {
  background: url("../../assets/images/delivery/add_address.svg") no-repeat;
  display: inline-block;
  width: 40px;
  height: 40px;
  float: left;
  margin: 25px 25px 0;
  background-size: 99% 99%;
    background-position: center;
}
.address-container .info {
  margin-top: 15px;
  float: left;
  width: 500px;
}
.address-container .info .name {
  height: 40px;
}
.address-container .info .name span {
  display: block;
  font-size: 28px;
  font-weight: 400;
}
.address-container .info .address {
  font-size: 20px;
}
.address-container .info .address div {
  color: #666666;
}
.address-container .more-yet {
  background: url("../../assets/images/address/arrow_right.svg") no-repeat;
  display: inline-block;
  width: 23px;
  height: 30px;
  float: right;
  margin: 45px 14px 0 0;
}
.address-container .more {
  background: url("../../assets/images/address/arrow_right_unselect.svg") no-repeat;
  display: inline-block;
  width: 23px;
  height: 30px;
  float: left;
  margin: 25px 0 0 35px;
}
.brimg{
  margin-top: -2px;
  display: block;
  width: 100%;
}


.order-detail-container .item-container .item .top {
  position: relative;
  padding-bottom: 10px;
  padding-top: 10px;
  *zoom: 1;
}
.order-detail-container .item-container .item .top:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.order-detail-container .item-container .item .top .order-no {
  font-size: 20px;
  color: #666666;
  float: left;
  width: 600px;
  margin-left: 20px;
}
.order-detail-container .item-container .item .top .brand {
  width: 400px;
  font-size: 26px;
  float: left;
  margin-left: 20px;
}
.order-detail-container .item-container .item .top .status {
  width: 200px;
  float: right;
  font-size: 26px;
  color: #7CDB76;
  text-align: right;
  position: absolute;
  right: 20px;
  top: 5px;
}
.order-detail-container .item-container .item .top .status.status-init {
  color: #CEA7A6;
}
.order-detail-container .item-container .item .mid {
  *zoom: 1;
}
.order-detail-container .item-container .item .mid:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.order-detail-container .item-container .item .mid .brand-container .brand {
  font-size: 28px;
  border-bottom: solid 1px #efefef;
  text-indent: 20px;
  line-height: 48px;
  font-weight: 400;
  color: #CEA7A6;
}
.order-detail-container .item-container .item .mid .child-item-container .child-item {
  *zoom: 1;
  border-bottom: solid 1px #efefef;
  padding: 20px 0;
}
.order-detail-container .item-container .item .mid .child-item-container .child-item:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.order-detail-container .item-container .item .mid .child-item-container .child-item .thumb {
  float: left;
  margin-left: 20px;
}
.order-detail-container .item-container .item .mid .child-item-container .child-item .thumb img {
  width: 196px;
  height: 196px;
}
.order-detail-container .item-container .item .mid .child-item-container .child-item .info {
  float: right;
  width: 380px;
  margin-right: 20px;
  position: relative;
  height: 206px;
}
.order-detail-container .item-container .item .mid .child-item-container .child-item .info .title {
  font-size: 28px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.order-detail-container .item-container .item .mid .child-item-container .child-item .info .intro {
  font-size: 20px;
  color: #666666;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.order-detail-container .item-container .item .mid .child-item-container .child-item .extra {
  margin-right: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.order-detail-container .item-container .item .mid .child-item-container .child-item .extra .price {
  color: #CEA7A6;
  font-size: 32px;
  float: left;
  font-weight: 400;
}
.order-detail-container .item-container .item .mid .child-item-container .child-item .extra .amount {
  font-size: 20px;
  color: #666666;
  float: right;
}
.order-detail-container .item-container .item .bottom {
  text-align: right;
  color: #666666;
  font-size: 20px;
  line-height: 40px;
  border-bottom: solid 3px #efefef;
  padding-right: 20px;
}
.service{
  width: 100%;
  height: 73px;
  margin-top: 8px;
  background: white;
  box-sizing: border-box;
  padding: 14px 55px 14px 55px;
}
.wxmain{
  width: 244px;
  height: 39px;
  border: 3px solid #CEA7A6;
  float: left;
  text-align:center;
  line-height: 39px;
  font-size: 24px;
  color: #CEA7A6;
}
.telmain{
  width: 244px;
  height: 39px;
  border: 3px solid #CEA7A6;
  float: right;
  text-align:center;
  line-height: 39px;
}
.wxmain i{
  width: 30px;
  height: 39px;
  background: red;
  display: block;
  float: left;
  background: url("../../assets/images/order/wechat.svg") no-repeat;
  background-position: center;
  background-size: 30px 25px;
  margin-left: 42px;
  margin-right: 10px;
}
.wxmain span{
  line-height: 39px;
  height: 39px;  
  display: block;
  float: left;
  font-size: 24px;
  color: #CEA7A6;
  font-weight: 400;
}
.telmain a{
  display: block;
  width: 100%;
  height: 100%;
}
.telmain i{
  width: 30px;
  height: 39px;
  background: red;
  display: block;
  float: left;
  background: url("../../assets/images/order/phone.svg") no-repeat;
  background-position: center;
  background-size: 25px 25px;
  margin-left: 48px;
  margin-right: 10px;
}
.telmain span{
  line-height: 39px;
  height: 39px;  
  display: block;
  float: left;
  font-size: 24px;
  color: #CEA7A6;
    font-weight: 400;
}
.message{
  width: 100%;
  height: 73px;
  background: white;
  margin-top: 8px;
  overflow: hidden;
}
.message div {
  font-size: 20px;
  color: rgb(102,102,102);
  margin-top: 6px;
  margin-left: 20px;
}

.codebg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.7);
}
.codeMain {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.codeImgbg {
  width: 540px;
  height: 652px;
  position: absolute;
  left:50px;
  top: 50%;
  margin-top: -326px;
}
.codeTitle {
  width: 306px;
  height: 66px;
  line-height: 66px;
  text-align: center;
  font-size: 28px;
  color: white;
  position: absolute;
  left: 172px;
  top: 235px;
}
.codeImg{
  width: 360px;
  height: 360px;
  position: absolute;
  left:95px;
  top:170px;
}
.codeText {
  width: 290px;
  height: 55px;
  position: absolute;
  left: 178px;
  top: 630px;
  font-size: 20px;
  color: #666666;
  text-align: center;
}
.gbbode {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 16px;
  top: 64px;
}
.toolbar{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  background: white;
}
.toolbar .info {
  width: 280px;
  float: left;
  line-height: 90px;
  font-size: 22px;
  text-indent: 25px;
  overflow: hidden;
  color: #666666;
}
.toolbar .info .big {
  font-size: 25px;
  color: #CEA7A6;
  font-weight: 400;
}
.toolbar .info .price {
  color: #CEA7A6;
  font-weight: 400;
}

.alertMain {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}
.alertBor {
  margin: 0 auto;
  margin-top: 35vh;
  background: white;
  width: 65%;
  min-width: 65%;
  border-radius: 30px;
  overflow: hidden;
}
.alertText {
  padding: 40px;
  padding-bottom: 0;
  font-size: 22px;
  text-align: center;
}
.alertButleft {
  margin-top: 30px;
  background: white;
  width: 50%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  color: #000000;
  font-size: 22px;
  float: left;
  border-top:1px solid #e5e5e5;
}
.alertButright {
  margin-top: 30px;
  background: #CEA7A6;
  width: 50%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  color: white;
  font-size: 22px;
  float: right;
  border-top:1px solid #CEA7A6;
}
.pay {
  height: 90px;
  width: 180px;
  text-align: center;
  line-height: 90px;
  background: #CEA7A6;
  color: white;
  font-size: 28px;
  font-weight: 400;
  float: right;
}
.canclePay {
  height: 90px;
  border-left: 1px solid #dddddd;
  width: 179px;
  text-align: center;
  line-height: 90px;
  background: white;
  color: black;
  font-size: 28px;
  font-weight: 400;
  float: right;
}
.cancledPay {
  height: 90px;
  width: 260px;
  text-align: center;
  line-height: 90px;
  background: #666666;
  color: white;
  font-size: 28px;
  font-weight: 400;
  float: right;
}
.alertButaddress {
  margin-top: 30px;
  background: #CEA7A6;
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  color: white;
  font-size: 22px;
  float: right;
  border-top:1px solid #CEA7A6;
}

.content-wechat-pay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9999;
}
.wechat-pay {
  background: white;
  font-size: 26px;
  width: 76%;
  min-width: 76%;
  height: 33%;
  min-height: 33%;
  margin: 0 auto;
  margin-top: 30vh;
  border-radius: 10px;
}
.wechat-pay div {
  text-align: center;
}
.wechat-pay .confirm-pay {
  font-size: 36px;
  color: black;
  height: 130px;
  line-height: 130px;
}
.wechat-pay .finish-pay {
  font-size: 30px;
  color: #CEA7A6;
  line-height: 90px;
  height: 90px;
  border-top: 1px solid #bcc1c5;
  border-bottom: 1px solid #bcc1c5;
}
.wechat-pay .continue-pay {
  line-height: 90px;
  height: 90px;
  font-size: 30px;
  color: #909497;
}
