/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@font-face {
  font-family: '微软雅黑';
  font-weight: 300;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Huxiaobo", Arial;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-text-size-adjust: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.item img {
  width: 640px;
}
.leftRs {
  position: absolute;
  top: -1000px;
}
.rightRs {
  position: absolute;
  top: -1000px;
}
.share-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -moz-opacity: 0.9;
  -khtml-opacity: 0.9;
  -webkit-opacity: 0.9;
  opacity: 0.9;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90);
  filter: alpha(opacity=90);
  z-index: 99;
  background: #000000 url("../../assets/images/detail/share_bg.png") no-repeat top;
}
.wrapper {
  position: absolute;
  width: 100%;
  min-height: 100%;
  overflow-y: scroll;
  background: #FFF7F7;
}
.wrapper .header {
  position: relative;
  background: #ffffff;
}
.wrapper .header .thumb {
  width: 640px;
}
.wrapper .header .thumb img {
  width: 100%;
}
.wrapper .header .share {
  background: url("../../assets/images/detail/shareicon.png") no-repeat;
  background-size: 100% 100%;
  background-position: center;
  width: 68px;
  height: 68px;
  position: absolute;
  right: 30px;
  top: 30px;
}

.wrapper .info .brand {
  height: 92px;
  font-size: 28px;
  color: #333B48;
  font-weight: bold;
  box-sizing: border-box;
  padding-left: 28px;
  line-height: 92px;
  background: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.wrapper .info .brand img {
  display: block;
  margin-left: 10px;
}
.wrapper .info .title {
  font-size: 24px;
  color: #444444;
  box-sizing: border-box;
  padding-left: 28px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  background: white;
  margin-top: 10px;
  padding-top: 30px;
}
.wrapper .info .intro {
  font-size: 20px;
  color: #CCCCCC;
  box-sizing: border-box;
  padding-left: 28px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  background: white;
}
.wrapper .info .extra .price {
  font-size: 34px;
  color: #444444;
  display: inline-block;
}
.wrapper .info .extra {
  height: 90px;
  line-height: 90px;
  width: 100%;
  background: white;
  box-sizing: border-box;
  padding-left: 28px;
  padding-right: 28px;
}
.wrapper .info .extra:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.wrapper .info .extra .origin-price {
  font-size: 20px;
  color: #CCCCCC;
  display: inline-block;
  margin-top: 10px;
}
.wrapper .info .extra .amount {
  font-size: 20px;
  color: #CCCCCC;
  float: right;
}
.wrapper .content {
  background: #ffffff;
  width: 640px;
  display: inline-block;
  overflow: hidden;
  *zoom: 1;
}
.wrapper .content:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.wrapper .toolbar {
  position: fixed;
  bottom: 0;
  height: 88px;
  width: 640px;
  border-top: 1px solid #FFF7F7;
  background: url("../../assets/images/detail/detailbottom.png") no-repeat;
  background-position: center;
  background-size: 100% 100%;
}
.wrapper .toolbar a {
  display: inline-block;
  float: left;
}
.wrapper .toolbar .home {
  width: 84px;
  height: 100%;
  text-align: center;
}
.wrapper .toolbar .cart {
  width: 84px;
  height: 100%;
  text-align: center;
  position: relative;  
}
.wrapper .toolbar .cart .icon-number {
  display: inline-block;
  position: absolute;
  width: 20px;
  height: 20px;
  background: #CEA7A6;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -moz-border-radius-topleft: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #ffffff;
  text-align: center;
  line-height: 20px;
  top: 20px;
  right: 20px;
  font-size: 15px;
}
.wrapper .toolbar .service {
  width: 84px;
  height: 100%;
  text-align: center;
}
.wrapper .toolbar .service span {
  font-size: 20px;
  display: block;
  margin-top: 5px;
  color: #666666;
}
.wrapper .toolbar .service .icon-service {
  margin: 0 auto;
  margin-top: 20px;
  background: url("../../assets/images/detail/servicetoolbar.png") no-repeat;
  width: 30px;
  height: 30px;
  display: block;
  background-position: center;
  background-size: 100% 100%;
}
.wrapper .toolbar .add-cart {
  width: 194px;
  text-align: center;
  height: 88px;
  line-height: 88px;
  font-size: 20px;
  color: #444444;
  display: inline-block;
  text-align: center;
  float: right;
}
.wrapper .toolbar .purchase {
  width: 194px;
  text-align: center;
  height: 88px;
  line-height: 88px;
  font-size: 20px;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  float: right;
}
.wrapper .toolbar .drop-add-cart {
  width: 194px;
  text-align: center;
  height: 88px;
  line-height: 88px;
  font-size: 20px;
  color: #444444;
  display: inline-block;
  text-align: center;
  float: right;
}
.wrapper .toolbar .drop-purchase {
  width: 194px;
  text-align: center;
  height: 88px;
  line-height: 88px;
  font-size: 20px;
  color: #ffffff;
  display: inline-block;
  text-align: center;
  float: right;
}
.countdown {
  height: 70px;
  width: 100%;
  background: #CEA7A6;
}
.countdownleft {
  float: left;
  width: 22%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  color: white;
  font-weight: 400;
  font-size: 26px;
  font-family: "黑体";
}
.countdownright {
  float: right;
  width: 78%;
  height: 70px;
  box-sizing: border-box;
  padding-top: 13px;
}
.countdownrightbor {
  width: 100%;
  height: 44px;
}
.test1 {
  float: left;
  height: 44px;
  width: 140px;
  text-align: center;
  line-height: 44px;
  color: white;
  font-size: 23px;
}
.test2 {
  float: left;
  height: 44px;
  width: 55px;
  position: relative;
}
.num {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  color: #CEA7A6;
  line-height: 44px;
  text-align: center;
  font-size: 23px;
  letter-spacing: 13px;
  box-sizing: border-box;
  padding-left: 8px;
  font-weight: 400;
}
.test3 {
  float: left;
  height: 50px;
  width: 30px;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 23px;
}
.service {
  width: 100%;
  height: 310px;
}
.serviceTitleBorder {
  width: 100%;
  height: 19px;
  border-bottom: 1px solid #b3b3b3;
}
.serviceTitle {
  margin: 0 auto;
  background: red;
  width: 140px;
  height: 30px;
  text-align: center;
  color: #b3b3b3;
  /*margin-top: 10px;*/
  line-height: 40px;
  background: #e5e5e5;
  font-size: 13px;
  letter-spacing: 3px;
}
.serviceMain {
  width: 100%;
  height: 290px;
  position: relative;
}
.serviceIcon {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 265px;
  top: 85px;
}
.serviceText {
  width: 295px;
  text-align: right;
  position: absolute;
  left: 0;
  top: 130px;
  font-size: 20px;
  line-height: 30px;
}
.serviceText span {
  font-size: 18px;
  color: #666666;
}
.serviceCode {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 364px;
  top: 57px;
}
.codebg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: rgba(0, 0, 0, 0.7);
}
.codeMain {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.codeImgbg {
  width: 540px;
  height: 652px;
  position: absolute;
  left:50px;
  top: 50%;
  margin-top: -326px;
}
.codeTitle {
  width: 306px;
  height: 66px;
  line-height: 66px;
  text-align: center;
  font-size: 28px;
  color: white;
  position: absolute;
  left: 172px;
  top: 235px;
}
.codeImg{
  width: 360px;
  height: 360px;
  position: absolute;
  left:95px;
  top:170px;
}
.codeText {
  width: 290px;
  height: 55px;
  position: absolute;
  left: 178px;
  top: 630px;
  font-size: 20px;
  color: #666666;
  text-align: center;
}
.gbbode {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 16px;
  top: 64px;
}
.sharetwo {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 200;
  left:0;
  top:0;
  background: url("../../assets/images/index/redsharebg.png") no-repeat;
  background-position: center;
  background-size: 100% 100%;
  z-index: 500;
}
.takered {
  position: absolute;
  top: calc(20% + 400px);
  background: url("../../assets/images/index/sharebut.png") no-repeat;
  background-position: center;
  background-size: 100% 100%;
  width: 200px;
  height: 50px;
  left: 215px;
}

.sharered {
  width: 100%;
  height: 100%;
  position: fixed;
  left:0;
  top:0;
  background: rgba(0,0,0,.5);
  z-index: 600;
}
.shareimg {
  width: 500px;
  height: 520px;
  position: absolute;
  left: 63px;
  top: 20%;
}
.specBut {
  width: 100%;
  height: 84px;
  background: white;
  margin-top: 10px;
  background: url("../../assets/images/detail/specBut.png") no-repeat;
  background-position: center;
  background-size: 100% 100%;
  display: block;
  box-sizing: border-box;
  padding-left: 28px;
  line-height: 90px;
  color: #444444;
  font-size: 24px;
}
.contentinnerhtml {
  margin-bottom: 10px;
}
.bottom {
  width: 100%;
  height: 100px;
}
.detailTitle {
  width: 100%;
  height: 90px;
  margin-top: 10px;
  box-sizing: border-box;
  padding-left: 28px;
  line-height: 90px;
  color: #444444;
  font-size: 24px;
  background: white; 
}

.qrcodeBor {
  width: 500px;
  height: 500px;
  background: white;
  position: absolute;
  left: 70px;
  top: 300px;
  border: 1px solid black;
}
.qrcodeBut {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  background: red;
}