<div class="wrapper" (scroll)="pageEvent($event)">
  <!--倒计时-->
  <div class="countdown" *ngIf="couponService.pdtimelimit">
    <div class="countdownleft">限时购</div>
    <div class="countdownright">
      <div class="countdownrightbor">
        <div class="test1">距活动结束:</div>
        <div class="test2">
          <img src="assets/images/index/timenum.png" alt="" style="width: 100%;height: 100%">
          <div class="num">{{couponService.day}}</div>
        </div>
        <div class="test3">天</div>
        <div class="test2">
          <img src="assets/images/index/timenum.png" alt="" style="width: 100%;height: 100%">
          <div class="num">{{couponService.hours}}</div>
        </div>
        <div class="test3">时</div>
        <div class="test2">
          <img src="assets/images/index/timenum.png" alt="" style="width: 100%;height: 100%">
          <div class="num">{{couponService.minutes}}</div>
        </div>
        <div class="test3">分</div>
        <div class="test2">
          <img src="assets/images/index/timenum.png" alt="" style="width: 100%;height: 100%">
          <div class="num">{{couponService.seconds}}</div>
        </div>
        <div class="test3">秒</div>
      </div>
    </div>
  </div>
  <div class="seekMain" [ngClass]="{'unseekMain':pdseek}">
    <form action="javascript:return true;" class="input-kw-form" style="width: 400px;display: block;float: left">
      <input name="name" class="seekInput" [(ngModel)]="seekContent" placeholder="搜索心动好物"  type="search" (keyup)="keyup($event)" (focus)="focus()" (blur)="blur()" style="outline:none;">
    </form>
    <img src="assets/images/index/seekbut.png" class="seekBut" (click)="seekBut()" *ngIf="!pdseek">
    <img src="assets/images/index/unseekbut.gif" class="unseekBut" (click)="seekBut()" *ngIf="pdseek">

  </div>
  <div class="bannerMain">
    <ngx-carousel
      [inputs]="carouselOne"
      [moveToSlide]="1">
      <ngx-item NgxCarouselItem class="bannerStyle" *ngFor="let banner of banners">
        <img src="{{banner.thumb}}" class="carouselImg" (click)="bannerGoDetail(banner)"/>
      </ngx-item>
      <button NgxCarouselPrev class='leftRs'>&lt;</button>
      <button NgxCarouselNext class='rightRs'>&gt;</button>
    </ngx-carousel>
    <div class="recentOrderMain" id="recentOrder">
      <img src="{{recentHeaderImg}}" class="recentImg">
      <div class="recentName">新订单来自{{recentName}}</div>
    </div>  
    <!-- 小程序按钮 -->
    <div class="miniApp" (click)="gominiApp()" *ngIf="pdminiApp">
      <img src="assets/images/index/miniapp.gif" style="width: 100%;height: 100%">
<!--       <div>{{test}}</div>
      <div>{{test2}}</div> -->
    </div>
  </div>

  <div class="couponOrWelfare">
    <img src="assets/images/index/couponBut.png" alt="" class="couponBut" *ngIf="hasCoupon" (click)="couponBut()">
    <img src="assets/images/index/couponBut.png" alt="" class="couponBut" *ngIf="!hasCoupon" (click)="nocouponBut()">
    <img src="assets/images/index/welfareBut.png" alt="" class="welfareBut" (click)="welfareBut()">
  </div>


  <!--订阅-->
  <div class="subscribe">
    <!-- <div class="kolurl"> -->
      <img src="{{kolUrl}}" class="kolurl">
    <!-- </div> -->
    <div class="koltitle">红人频道</div>
    <div class="kolname">{{couponService.kolname}}</div>
    <div class="subscribebut" (click)="subscribebut()"></div>
<!--     <div class="subscribebut" (click)="subscribeclick()" *ngIf="!couponService.pdsubscribe">立即订阅</div>
    <div class="subscribebut" *ngIf="couponService.pdsubscribe">已订阅</div> -->
  </div>
<!--  -->
  <img src="assets/images/index/loading.gif" style="width: 100px;height: 100px;display: block;margin: 0 auto;margin-top: 20px" *ngIf="pdloading">

  <div class="container" *ngFor="let brand of brands">
    <div class="header">
      {{brand?.brand?.name}}
      <img src="assets/images/detail/brandicon.png" alt="" style="margin-left: 20px;">
    </div>
    <div class="content">
      <ul>
        <li *ngFor="let product of brand.products">
          <a>
            <div class="thumb" (click)="goDetail(product)">
              <img src="{{product.thumb}}"/>
            </div>
            <div class="info">
              <div class="title" (click)="goDetail(product)">{{product.title}}</div>
              <div class="intro" (click)="goDetail(product)">{{product.summary}}</div>
              <div class="test">
                <div class="testleft">
                  <div class="testlefttop">¥{{product.price}}<img src="assets/images/detail/discountsicon.png" alt="" style="margin-left:5px;"></div>
                  <div class="testleftbottom">
                    <span class="marketPrice">市场价¥{{product.origin_price}}</span>
                    <span class="soles" *ngIf="shop_type == 1">已售{{product.purchase_amount}}件</span>
                    <span class="soles" *ngIf="shop_type == 2 && product.surplus >0">剩余{{product.surplus}}件</span>
                    <span class="soles" *ngIf="shop_type == 2 && product.surplus <=0">已售完</span>
                  </div>
                </div>
                <div class="testright" *ngIf="product.attributes !== '' && product.attributes !== null" ><a [routerLink]="['add-cart', shopId, product?.id]" style="width: 100%;height: 100%"></a></div>
                <div class="testright" *ngIf="product.attributes === '' || product.attributes === null" (click)="addCart($event,product)"></div>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="bottom"></div>
</div>
<app-main-menu [shopId]="shopId"></app-main-menu>
<div class="view-side-form">
  <router-outlet></router-outlet>
</div>
<div class="subscribelayer" *ngIf="couponService.pdxssubscribe" (click)="subscribelayer()">
  <img src="assets/images/index/subscribelayerimg.png" alt="" class="subscribelayerimg">
</div>

<!-- <div class="recentOrderMain" [@visibilityChanged]="visibility">
  <img src="{{recentHeaderImg}}" class="recentImg">
  <div class="recentName">新订单来自{{recentName}}</div>
</div> -->

<div class="addCartHint" id="addCart">添加购物车成功</div>
<!-- 活动浮层 -->
<!-- <div class="poster" *ngIf="couponService.pdposter && pdshopID" (click)="poster()">
  <img src="assets/images/index/redsuperantnat.png" alt="" class="posterimg">
</div> -->
<div class="zhognqiu" *ngIf="userService.pdzhognqiu" (click)="zhongqiu()">
  <img src="assets/images/index/zhongqiu.png" alt="" class="zhognqiuimg">
</div>
<!-- 分享浮层 -->
<!-- -->
<div class="share" *ngIf="wechatService.shareRedBin && pdshopID">
<!-- <div class="share"> -->
  <img src="assets/images/index/red2.png" alt="" class="shareimg">
  <div class="takered" (click)="takered()"></div>
</div>

<!-- 顶部红人 -->
<div class="topsubscribe" *ngIf="pdtopsubscribe">
  <!-- <div class="kolurl"> -->
    <img src="{{kolUrl}}" class="topkolurl">
  <!-- </div> -->
  <div class="topkoltitle">红人频道</div>
  <div class="topkolname">{{couponService.kolname}}</div>
  <div class="topsubscribebut" (click)="subscribebut()"></div>
<!--     <div class="subscribebut" (click)="subscribeclick()" *ngIf="!couponService.pdsubscribe">立即订阅</div>
    <div class="subscribebut" *ngIf="couponService.pdsubscribe">已订阅</div> -->
</div>

<div class="alertMain" *ngIf="pdalert">
  <div class="alertBor">
    <p class="alertText">{{alertText}}</p>
    <div class="alertBut" (click)="qxalert()">确认</div>
  </div>
</div>

<div class="welfareMain" *ngIf="pdwelfare">
  <div class="welfarebg">
    <div class="gbwelfare" (click)="gbwelfare()"></div>
  </div>
</div>
<img src="assets/images/index/unindexseekbg.png" class="y">