<div class="wrapper">
  <div class="nav">
    <div class="header">
      <div class="logo">
      </div>
      <div class="user-info">
        <a class="thumb" (click)="goMine()">
          <img src="{{userService.identity.thumb}}" *ngIf="userService.identity.thumb">
          <img src="assets/images/mine/default_avator.png" *ngIf="!userService.identity.thumb">
        </a>
        <div class="name">{{userService.identity.name}}</div>
        <!-- <div class="record">库存记录 {{stockCount}}</div> -->
      </div>
    </div>
    <div class="up"></div>
    <div class="menu">
      <ul>
        <li *ngIf="tags"><a (click)="getProduct()">全部</a></li>
        <li *ngFor="let tag of tags"><a  (click)="getProduct(tag)">{{tag.name}}</a></li>
      </ul>
    </div>
    <div class="down"></div>
    <div class="footer">
      <p>客服电话</p>
      <p><a href="tel:{{globalService.shopModel.customer_mobile}}">{{globalService.shopModel.customer_mobile}}</a></p>
    </div>
  </div>
  <a class="holder" (click)="backClicked()">

  </a>
</div>
