<div class="wrapper">
  <div style="width: 100%;height: 100%;background: #efefef">
    <img src="assets/images/index/project_end.svg" alt="" style="width: 100%">
    <div style="width: 100%;height: 125px;background: #CEA7A6" *ngIf="!couponService.pdsubscribe">
      <p style="width: 100%;height: 65px;line-height: 65px;text-align: center;color: white;font-size: 25px">订阅该号，好物与你常相伴</p>
      <div style="width: 218px;height: 48px;text-align: center;line-height: 48px;margin: 0 auto;border: 1px solid white;color: white;font-size: 25px;" (click)="subscribeclick()">开始订阅</div>
    </div>
  </div>
</div>
<!--<app-main-menu [shopId]="shopId"></app-main-menu>-->
<div class="view-side-form">
  <router-outlet></router-outlet>
</div>
<div class="subscribelayer" *ngIf="couponService.pdxssubscribe" (click)="subscribelayer()">
  <img src="assets/images/index/subscribelayerimg.png" alt="" class="subscribelayerimg">
</div>
