/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@font-face {
  font-family: '微软雅黑';
  font-weight: 300;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Huxiaobo", Arial;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-text-size-adjust: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.head {
  font-size: 32px;
  line-height: 60px;
  text-align: center;
  border-bottom: 1px solid #efefef;
}
.content .empty {
  text-align: center;
  line-height: 48px;
  font-size: 22px;
  color: #666666;
}
.content ul li {
  width: 100%;
  display: inline-block;
  padding: 20px 0;
  border-bottom: 1px solid #efefef;
}
.content ul li .main {
  display: inline-block;
  *zoom: 1;
  width: 100%;
}
.content ul li .main:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.content ul li .main .thumb {
  margin-left: 20px;
  float: left;
}
.content ul li .main .thumb img {
  width: 196px;
  height: 196px;
}
.content ul li .main .info {
  float: right;
  width: 375px;
  margin-right: 20px
}
.content ul li .main .info .title {
  font-size: 28px;
  font-weight: 400;
}
.content ul li .main .info .intro {
  font-size: 20px;
  color: #666666;
  margin-top: 10px;
}
.content ul li .main .info .extra {
  position: relative;
  margin-top: 40px;
}
.content ul li .main .info .extra .amount {
  color: #CEA7A6;
  font-size: 28px;
  font-weight: 400;
}
.content ul li .main .info .extra .amount span{
  color: #CEA7A6;
  font-weight: 400;
}
.content ul li .main .info .extra .change-amount {
  position: absolute;
  right: 0;
  width: 135px;
  line-height: 45px;
  color: #ffffff;
  text-align: center;
  background: #CEA7A6;
  font-size: 24px;
  font-weight: 400;
  top: -10px;
}
.content ul li .main .info .extra .amend-amount {
  position: absolute;
  right: 0;
  width: 100px;
  line-height: 45px;
  color: #ffffff;
  text-align: center;
  background: #CEA7A6;
  font-size: 24px;
  font-weight: 400;
  right:110px;
  top: -10px;
}
.content ul li .main .info .extra .delete-amount {
  position: absolute;
  right: 0;
  width: 100px;
  line-height: 45px;
  color: #ffffff;
  text-align: center;
  background: #CEA7A6;
  font-size: 24px;
  font-weight: 400;
  right:0;
  top: -10px;
}
.content ul li .select {
  display: inline-block;
  *zoom: 1;
  width: 100%;
}
.content ul li .select:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.content ul li .select .thumb {
  margin-left: 20px;
  float: left;
}
.content ul li .select .thumb img {
  width: 196px;
  height: 196px;
}
.content ul li .select .info {
  float: left;
  margin: 70px 0 0 65px;
}
.content ul li .select .info .minus {
  float: left;
  background: url("../../assets/images/detail/minus.svg") no-repeat;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-right: 10px;
}
.content ul li .select .info .plus {
  float: left;
  background: url("../../assets/images/detail/plus.svg") no-repeat;
  width: 50px;
  height: 50px;
  display: inline-block;
  margin-left: 10px;
}
.content ul li .select .info input {
  float: left;
  width: 60px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  border-top: 2px solid rgb(150,150,150);
  border-left: 2px solid rgb(150,150,150);
}
.content ul li .select .button {
  background: #CEA7A6;
  color: #ffffff;
  line-height: 196px;
  width: 135px;
  display: inline-block;
  float: right;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}
.toolbar {
  position: fixed;
  bottom: 0;
  height: 90px;
  background: #ffffff;
  width: 640px;
}
.toolbar a {
  background: #CEA7A6;
  font-size: 28px;
  color: #ffffff;
  display: inline-block;
  line-height: 90px;
  width: 100%;
  text-align: center;
  float: left;
}
.alertFriend,
.alertMe {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
}
.alertBorFriend,
.alertBorMe {
  width: 70%;
  margin: 0 auto;
  margin-top: 35vh;
  padding-top: 50px;
  background: white;
  border-radius: 40px 40px 40px 40px;
  overflow: hidden;
}
.alertTextFriend,
.alertTextMe {
  box-sizing: border-box;
  padding: 0 50px;
  font-size: 25px;
  /*font-weight:400;*/
  /*font-family: "Huxiaobo", Arial;*/
}
.alertButBorFriend,
.alertButBorMe {
  border-top: 1px solid #E5E5E5;
  width: 100%;
  height: 70px;
  margin-top: 40px;
}
.alertCancelFriend,
.alertCancelMe {
  float: left;
  height: 70px;
  width: 50%;
  background: white;
  text-align: center;
  line-height: 70px;
  font-size: 20px;
}
.alertStartFriend,
.alertStartMe {
  float: left;
  height: 70px;
  width: 50%;
  text-align: center;
  background: #CEA7A6;
  line-height: 70px;
  color: white;
  font-size: 20px;
}
.alertMain {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
}
.alertBor {
  margin: 0 auto;
  margin-top: 35vh;
  background: white;
  width: 65%;
  min-width: 65%;
  border-radius: 30px;
  overflow: hidden;
}
.alertText {
  padding: 40px;
  padding-bottom: 0;
  font-size: 22px;
  text-align: center;
}
.alertBut {
  margin-top: 30px;
  background: #CEA7A6;
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  color: white;
  font-size: 22px;
}
