/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@font-face {
  font-family: '微软雅黑';
  font-weight: 300;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Huxiaobo", Arial;
  font-weight: 300;
  color: #000000;
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-text-size-adjust: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.wrapper {
  padding-bottom: 95px;
  min-height: 100vh;
  *zoom: 1;
  background: #CEA7A6;
}
.wrapper:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.wrapper .header {
  background: #ffffff;
  width: 586px;
  margin-left: 28px;
  margin-top: 90px;
  display: inline-block;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-topleft: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  position: relative;
}
.wrapper .header .thumb {
  width: 120px;
  height: 120px;
  -webkit-border-top-right-radius: 60px;
  -webkit-border-bottom-right-radius: 60px;
  -webkit-border-bottom-left-radius: 60px;
  -webkit-border-top-left-radius: 60px;
  -moz-border-radius-topright: 60px;
  -moz-border-radius-bottomright: 60px;
  -moz-border-radius-bottomleft: 60px;
  -moz-border-radius-topleft: 60px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-top-left-radius: 60px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: url("../../assets/images/mine/thumb.png") no-repeat;
  position: absolute;
  top: -60px;
  left: 230px;
}
.wrapper .header .thumb img {
  width: 120px;
  height: 120px;
  -webkit-border-top-right-radius: 60px;
  -webkit-border-bottom-right-radius: 60px;
  -webkit-border-bottom-left-radius: 60px;
  -webkit-border-top-left-radius: 60px;
  -moz-border-radius-topright: 60px;
  -moz-border-radius-bottomright: 60px;
  -moz-border-radius-bottomleft: 60px;
  -moz-border-radius-topleft: 60px;
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-top-left-radius: 60px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.wrapper .header .title {
  margin: 80px 0 0 0;
  font-size: 24px;
  text-align: center;
  line-height: 32px;
  padding-bottom: 25px;
  border-bottom: 1px solid #EFEFEF;
}
.wrapper .header .comment {
  padding: 38px;
  font-size: 24px;
  color: #666666;
}
.wrapper .body {
  background: #ffffff;
  width: 586px;
  margin-left: 28px;
  display: inline-block;
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-top-left-radius: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 15px;
  -moz-border-radius-bottomleft: 15px;
  -moz-border-radius-topleft: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border-top: 1px solid #EFEFEF;
}
.wrapper .body .item-container .item .mid {
  *zoom: 1;
}
.wrapper .body .item-container .item .mid:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.wrapper .body .item-container .item .mid .child-item-container .child-item {
  *zoom: 1;
  border-bottom: solid 1px #EFEFEF;
  padding: 20px 0;
}
.wrapper .body .item-container .item .mid .child-item-container .child-item:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
.wrapper .body .item-container .item .mid .child-item-container .child-item .thumb {
  float: left;
  margin-left: 20px;
}
.wrapper .body .item-container .item .mid .child-item-container .child-item .thumb img {
  width: 145px;
  height: 145px;
}
.wrapper .body .item-container .item .mid .child-item-container .child-item .info {
  float: left;
  width: 355px;
  margin-left: 20px;
}
.wrapper .body .item-container .item .mid .child-item-container .child-item .info .title {
  font-size: 22px;
}
.wrapper .body .item-container .item .mid .child-item-container .child-item .info .intro {
  font-size: 18px;
  color: #666666;
  margin-top: 5px;
}
.wrapper .body .item-container .item .mid .child-item-container .child-item .info .extra {
  margin-top: 10px;
}
.wrapper .body .item-container .item .mid .child-item-container .child-item .info .extra .price {
  color: #CEA7A6;
  font-size: 22px;
  float: left;
}
.wrapper .body .item-container .item .mid .child-item-container .child-item .info .extra .amount {
  font-size: 20px;
  color: #666666;
  float: right;
}
.wrapper .body .bottom {
  text-align: center;
  line-height: 75px;
  color: #666666;
}
.wrapper .body .bottom a {
  color: #CEA7A6;
}
.wrapper .footer {
  text-align: center;
  margin-top: 45px;
}
.wrapper .footer a {
  display: inline-block;
  width: 535px;
  height: 90px;
  background: #ffffff;
  line-height: 90px;
  font-size: 28px;
  color: #CEA7A6;
}

.alertMain{
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,.7);
  position:fixed;
  left:0;
  top:0;
  z-index: 100;
}
.alertBor{
  margin: 0 auto;
  margin-top: 35vh;
  background: white;
  width: 65%;
  min-width: 65%;
  border-radius: 30px;
  overflow: hidden;
}
.alertText{
  padding: 40px;
  padding-bottom: 0;
  font-size:22px;
  text-align: center;
}
.alertBut{
  margin-top: 30px;
  background: #CEA7A6;
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  color: white;
  font-size: 22px;
}

