<div class="wrapper">
  <div class="header">
    <div class="thumb">
      <img src="{{reward.user?.profile?.thumb}}" *ngIf="reward.user?.profile?.thumb">
      <img src="assets/images/mine/default_avator.png" *ngIf="!reward.user?.profile?.thumb">
    </div>
    <div class="title">
      您的好友［{{reward.user?.profile?.nickname}}］赠送您<br>
      一份礼包
    </div>
    <div class="comment">{{reward.content}}</div>
  </div>
  <div class="body">
    <ul class="item-container">
      <li class="item">
        <div class="mid">
          <ul class="child-item-container" *ngFor="let product of reward.products">
            <li class="child-item">
              <div class="thumb">
                <img src="{{product.product_thumb}}">
              </div>
              <div class="info">
                <div class="title">{{product.product_title}}</div>
                <div class="intro">{{product.product_summary}}</div>
                <div class="extra">
                  <div class="price">¥ {{product.product_price}}</div>
                  <div class="amount">x{{product.amount | number}}</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </li>
    </ul>
    <div class="bottom"*ngIf="reward.reward_status==='REWARDING'">
      请前往我的库存中发货
    </div>
    <div class="bottom" *ngIf="reward.reward_status==='REWARD'">
      请前往<a [routerLink]="['/mine/stock', shopId]">我的库存</a>中发货
    </div>
  </div>
  <div class="footer">
    <a *ngIf="reward.reward_status==='REWARDING'" (click)="receive()">接受</a>
    <a *ngIf="reward.reward_status==='REWARD'">已接受</a>
  </div>
</div>

<div class="alertMain" *ngIf="pdalert">
  <div class="alertBor">
    <p class="alertText">{{textAlert}}</p>
    <div class="alertBut" (click)="qxalert()">确认</div>
  </div>
</div>
