/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
@font-face {
  font-family: '微软雅黑';
  font-weight: 300;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Huxiaobo", Arial;
  font-weight: 300;
  /*color: #000000;*/
  text-decoration: none;
  list-style: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-text-size-adjust: none;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  content: '';
  display: block;
  clear: both;
  height: 0;
}
body {
  background: #E5E5E5;
}
.fancybox-wrap-dialog .fancybox-close {
  display: none;
}
.fancybox-wrap-dialog .fancybox-inner {
  font-size: 32px;
  line-height: 100px;
  font-weight: 400;
}
.fancybox-wrap-dialog .fancybox-skin {
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -webkit-border-bottom-left-radius: 20px;
  -webkit-border-top-left-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  -moz-border-radius-bottomleft: 20px;
  -moz-border-radius-topleft: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
.content * {
  max-width: 100%;
}
.contentinnerhtml * {
  max-width: 100%;
}
.contentinnerhtml img {
  /*width: 640px!important;*/
  height: 100%!important;
  display: block;
}

/*div {
  font-weight: 200
}*/
.textOverflowOne{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}